/* Mobile Styling */
header {
  width: 100%;
  height: 600px;
  margin-bottom: 6.25rem;
  color: var(--c-white);
  background-position: top -15.9rem left -21.2rem, center;
  background-size: 360%;
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient(to bottom, var(--g-red));
  border-bottom-left-radius: 5rem;

  .jumbo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff-text);

    h2 {
      font-size: 2.25rem;
      padding: 0;
      text-align: center;
    }

    p {
      color: var(--c-gray-200);
      font-size: 1.2rem;
      margin: 1rem;
      text-align: center;
    }

    .buttons {
      width: 100%;
      text-align: center;
      margin-top: 3rem;
    }
  }
}

// Desktop Styling

// header {
//   width: 100%;
//   height: 100vh;
//   padding: 4rem;
//   background-position: top -84rem left -26.5rem, center;
//   background-size: auto;
//   background-image: url(../images/bg-pattern-intro.svg), var(--g-red);
//   border-bottom-left-radius: 5rem;
//   color: var(--c-white);

//   .jumbo {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     h2 {
//       font-size: 4rem;
//     }

//     p {
//       color: var(--c-gray-300);
//       font-size: 1.2rem;
//       margin: 1rem;
//     }
//     .buttons {
//       margin: 3rem;
//     }
//   }
// }
