#brand-nav {
  margin: 0 10rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 40px;
  }
}

nav {
  display: flex;
  position: relative;

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style: none;
    font-family: var(--ff-highlights);

    .arrow::after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
    }
  }
}

// Mobile style
@media (max-width: 797px) {
  #brand-nav {
    margin: 0 2rem;
    position: relative;

    nav {
      background: var(--c-white);
      flex-direction: column;
      border-radius: 0.5rem;
      box-shadow: var(--menu-shadow);
      position: absolute;
      top: 5rem;
      left: 10%;
      width: 80%;
      text-align: center;
      padding-bottom: 0.5rem;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      transition: 300ms;

      a {
        color: var(--c-gray-600);
        font-weight: 600;
        text-decoration: none;
      }
    }

    nav.active {
      visibility: visible;
      opacity: 1;
    }
  }

  #btn-mobile {
    width: 20px;
    border-top: 2px solid var(--c-white);

    &::before,
    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      margin-top: 5px;
      background: currentColor;
      transition: 300ms;
    }
  }

  #btn-mobile.active {
    border: none;
    &::before {
      transform: rotate(135deg);
    }
    &::after {
      transform: rotate(-135deg) translate(5px, 5px);
    }
  }

  #menu,
  #user {
    .arrow::after {
      background: url('../images/icon-arrow-dark.svg') no-repeat center;
    }
    & > li {
      margin: 0.5rem 0;
    }
    a {
      display: block;
      padding: 1rem;
    }
  }

  #user {
    &::before {
      content: '';
      display: block;
      width: 80%;
      margin-left: 10%;
      height: 2px;
      border-top: 2px solid var(--c-gray-200);
    }
    .btn {
      width: 125px;
      display: inline-block;
      color: var(--c-white);
      background: linear-gradient(to right, var(--g-red));

      &:hover {
        background: linear-gradient(to left, var(--g-red));
      }
    }
  }
  .submenu {
    background-color: var(--c-gray-100);
    margin: 0 1rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: 300ms;

    a:hover {
      color: var(--c-black-800);
      background: var(--c-gray-200);
    }
  }

  .active > .submenu {
    height: auto;
    overflow: hidden;
  }
}

// Desktop style
@media (min-width: 797px) {
  nav {
    width: 100%;
    margin-left: 4rem;
    justify-content: space-between;
  }

  #menu {
    display: flex;

    .arrow::after {
      background: url('../images/icon-arrow-light.svg') no-repeat center;
    }

    & > li {
      margin-right: 1rem;
    }
  }

  #user {
    display: flex;
    .btn {
      margin-left: 1rem;
    }
  }

  .submenu {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--c-gray-600);
    background: var(--c-white);
    box-shadow: var(--menu-shadow);
    border-radius: 0.5rem;
    visibility: hidden;
    opacity: 0;
    padding: 2rem 1.5rem;
    overflow-y: hidden;
    transition: 300ms;

    a {
      width: 7.5rem;
      display: block;
      padding: 0.5rem;

      &:hover {
        color: black;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  .active > .submenu {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}
