:root {
  /* Fonts */
  --f-size: 16px;
  --ff-text: 'Overpass', sans-serif;
  --ff-highlights: 'Ubuntu', sans-serif;

  /* Primary Colors */
  --c-red-200: hsl(355, 100%, 74%); /* CTA hover background */
  --c-red-400: hsl(356, 100%, 66%); /* CTA text */
  --c-blue-600: hsl(235, 23%, 31%); /* Spotlight */
  --c-blue-800: hsl(208, 49%, 24%); /* Headings */

  /* Neutral Colors */
  --c-white: hsl(0, 0%, 100%); /* Text */
  --c-gray-100: hsl(240, 1%, 95%); /* Sub Nav Background */
  --c-gray-200: hsl(240, 2%, 85%); /* Light Gray */
  --c-gray-300: hsl(240, 2%, 79%); /* Footer text */
  --c-gray-600: hsl(207, 13%, 34%); /* Body copy */
  --c-black-800: hsl(240, 10%, 16%); /* Footer background */

  /* Gradients */
  --g-red: hsl(13, 100%, 72%), hsl(353, 100%, 62%); /* Intro */
  --g-blue: hsl(237, 17%, 21%), hsl(237, 23%, 32%); /* Body */

  /* Other colors */
  --c-page-background: hsl(0, 0, 98%, 100%); /* Page background */

  /* Shadow */
  --menu-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* Reseting default configurations */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  background: none;
}

/* Imports */
@import './nav', './_auxiliary.scss', './_header.scss', './_content.scss';

body {
  background-color: var(--c-white);
  font-family: var(--ff-text);
}

.wrapper {
  background-color: var(--c-page-background);
  width: clamp(375px, 100%, 1440px);
  margin: auto;

  footer {
    background-color: var(--c-black-800);
    border-top-right-radius: 5rem;
    color: var(--c-white);
    padding: 4.75rem 0;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
      margin-bottom: 4rem;
    }

    ul {
      list-style: none;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 600;

      li {
        margin: 1rem 0;
        color: var(--c-gray-200);

        a:hover {
          text-decoration: underline;
        }
      }
    }
    .ul-title {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      color: var(--c-white);
    }
  }
}
